# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# ML artifacts (keep structure, ignore large local dumps)
training_dataset/**/*.npy
ml_model/hand_landmarker.task

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
